@{
    ViewBag.Title = "PerguntasInsuficientes";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header"><span style="font-size: 100px"><span style="color:red"><i class="glyphicon glyphicon-remove-sign"></i></span></span>Perguntas Insuficientes no banco! 
                </h1>
                    <br />
            </div>
        </div>
        <h1><small>@ViewBag.Insuficientes</small>
        <!-- /. ROW  -->

    </div>
</div>


