@model Aprendizado.Entity.TipoEndereco

@using (Html.BeginForm()) {

    <fieldset>
        <legend>TipoEndereco</legend>

        @Html.HiddenFor(model => model.idTipoEndereco)

        <div class="editor-label">
            <b>Descrição:</b>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
        </div>

        <p>
            <input type="submit" value="Salvar" onclick="return validar();" />
            <input type="button" value="Cancelar" onclick="cancelar();" />
        </p>
    </fieldset>
}

<script>
    function cancelar() {
        carregarTabela('');
    }

    function validar() {
        if ($("#Descricao").val() == "") {
            alert("Descrição obrigatória!");
            return false;
        }
        return true;
    }

</script>