@{
    ViewBag.Title = "Restrito";
}

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header"><span style="font-size: 100px"><span style="color:red"><i class="glyphicon glyphicon-remove-sign"></i></span></span>Você não tem acesso a esta página! 
                </h1>
                    <br />
            </div>
        </div>
        <h1><small>Contate o administrador do sistema.</small>
        <!-- /. ROW  -->

    </div>
</div>


