@model Aprendizado.Entity.Status

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Editar Status</h4>
        <hr />


        @Html.HiddenFor(model => model.idStatus)

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
    	        @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
            </div>
        </div>

        <br />   
        <<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            <br />   
            <input type="button"  class="btn btn-default" value="Voltar" onClick="    history.go(-1)">  
            <input type="submit" value="Salvar"  class="btn btn-default" onclick="    return validar();"/> 
          </div>
        </div>
    </div>
}
